/* Theme Name: Agencja */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800,300italic,400italic,600italic,700italic,800italic);
@import url(http://fonts.googleapis.com/css?family=Rajdhani:400,300,500,600,700);

html, body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    list-style: none;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
    background-image: url('images/background.jpg');
}
body.home {
    background-image: none;
}
.content, #container {
    padding: 160px 30px 100px 30px;
    min-height: 100%;
}
@media (min-width: 1000px) {
    .content {
        padding: 160px 285px 100px 110px;
    }
}
#container .content {
    background-color: gray;
    position: relative;
}
.content.no-sidebar {
    padding-right: 110px;
}
* {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
.orange {
    background-color: #ecb61d;
    color: white;
}
.blue {
    background-color: #1F6090;
    color: white;
}
.clearfix {
    clear: both;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
@media (min-width: 1300px) {
    .if-small {
        display: none;
    }
}