/*****  RESULTS  *****/

.search-results .paragraph {
    max-width: 1000px;
}
.resort-position {
    height: 130px;
}
.post-thumbnail {
    width: 130px;
    height: 130px;
    position: relative;
    overflow: hidden;
    margin-left: -140px;
}
.post-thumbnail img {
    position: absolute;
    height: 100%;
    width: auto;
}
.post-short {
    padding-right: 140px;
}
.wpeb-resort-excerpt {
    font-size: 15px;
    line-height: 15px;
    font-weight: 100;
    margin-top: 5px;
    max-height: 45px;
    overflow: hidden;
}
.search-results hr, .wpeb-resorts-list hr {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: none;
    margin: 25px 0;
}
.search-results li, .resort-position {
    position: relative;
}
.post-short button {
    position: absolute;
    bottom: 0;
    left: 0;
}
.search-results .wpeb-price-box, .resort-position .wpeb-price-box {
    position: absolute;
    bottom: 0;
    right: 140px;
    background: none;
    text-align: right;
    min-width: 200px;
}
.search-results .wpeb-price-box span, .resort-position .wpeb-price-box span {
    font-size: 19px;
    line-height: 12px;
    color: white;
    display: inline;
}
.wpeb-price-box span.wpeb-price, .wpeb-price-box span.wpeb-currency {
    font-size: 30px;
    font-weight: 800;
}
.search-results span.price-pre-night-str, .resort-position span.price-pre-night-str {
    display: block;
}
.search-results .wpeb-resort-excerpt, .resort-position .wpeb-resort-excerpt {
    max-width: 700px;
}
.wpeb-sorting-bar-wrap {
    display: none;
}

/*****  FORM  *****/

.wpeb_search_form_wrap input[type="text"], .wpeb_search_form_wrap .wpeb_search-widget_frm .wpeb_date_start, .wpeb_search_form_wrap .wpeb_search-widget_frm .wpeb_date_end {
    width: 100%;
    max-width: 1500px;
    font-size: 16px;
    margin-bottom: 10px;
}
.search-form input[type="submit"] {
    background-color: #ecb61d;
    border: none;
    width: 100%;
    font-size: 18px;
}
.search-form input[type="submit"]:hover, .sidebar input[type="submit"]:hover {
    background-color: #da6e0b;
}
.wpeb_search_form_wrap .wpeb_search-widget_frm input[type=submit] {
    margin-top: 0;
    width: 100%;
}