/* STREFA TYTUŁOWA */

.entry-title {
    font-size: 35px;
    font-weight: 800;
    line-height: 35px;
    padding-right: 220px;
}
.resort-gallery {
    margin-top: 15px;
}
hr {
    border: 1px solid white;
    border-color: rgba(0,0,0,0.2);
    border-bottom: none;
}
hr.between {
    margin-bottom: -10px;
    margin-top: 30px;
}
hr.between .soft {
    border-bottom: none;

}
.image-container:not(:first-child) {
    position: relative;
    width: 30%;
    height: auto;
    padding-bottom: 30%;
    overflow: hidden;
    float: left;
    margin-right: 5%;
    margin-top: 20px;
}
.image-container:first-child {
    position: relative;
    width: 100%;
    margin-bottom: 0;
}
.image-container:first-child img {
    position: static;
    width: 100%;
    height: auto;
    margin-bottom: 0;
}
.image-container:nth-child(3n+4) {
    margin-right: 0;
}
.image-container:not(:first-child) img {
    position: absolute;
    height: 100%;
    width: auto;
    margin-bottom: 0;
}
h2:not(:first-child) {
    margin-top: 40px;
}

/* DATE FORM RESORT PAGE */

.wpeb_datepicker_container.resort-page-datepicker {
    background-color: transparent;
    padding: 0;
    margin: 40px -10px 0 -10px;
}
.wpeb_datepicker_container.resort-page-datepicker span {
    display: inline-block;
}

/* CONTACT DATA RESORT PAGE */

.resort-contact-row {
    float: left;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 19px;
    width: 100%;
}
.zip, .mail {
    margin-bottom: 7px;
}
.resort-contact-row.ext-link {
    margin-top: 7px;
}
.resort-contact-row span {
    font-size: 17px;
    line-height: 19px;
}
.resort-page-datepicker.wpeb_datepicker_container .wpeb-field, input[type="submit"] {
    width: 32%;
    padding-left: 0;
    margin-left: -1px;
}
.resort-page-datepicker input[type="submit"]#set-dates {
    margin-left: -1px;
    border: none;
}
.wpeb_datepicker_container.resort-page-datepicker .wpeb-field input[type="text"] {
    font-size: 16px;
    max-width: 1000px;
    width: 100%;
    border-left: 1px solid gray;
}
.wpeb_datepicker_container.resort-page-datepicker .wpeb-field:first-child {
    padding-left: 0;
}
.wpeb_message.wpeb_info {
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.message-text .message-col:nth-child(2) {
    font-style: italic;
    font-weight: 200;
    margin-top: 3px;
}
.wpeb_message .message-text  div.message-col:first-of-type {
    width: 27px;
}
#resort-map {
    margin-top: 40px;
}

/* ROOMS LIST RESORT PAGE */

div.booking-total-holder {
    background-color: transparent;
}
.rooms {
    margin-top: 40px;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
}
.rooms thead {
    font-size: 20px;
}
.rooms td {
    border: 1px solid white;
    padding: 5px;
}
.rooms tr td:nth-child(2n) {
    text-align: right;
}
.rooms thead td:nth-child(2) {
    text-align: right;
    padding-right: 12px;
}
.rooms span {
    font-size: 15px;
    line-height: 15px;
    display: inline-block;
    color: white;
}
.room-price {
    text-align: right;
}
.room-price span {
    color: rgba(255,255,255,0.8);
}
.room-title-row, .room-title-row a, .room-title-row span {
    font-weight: 300;
    text-transform: uppercase;
    color: white;
}
.room-description {
    font-size: 15px;
    line-height: 16px;
    margin: 10px 0;
    font-weight: 100;
    text-align: justify;
}
.wpeb-rooms-area .room-meta-close-wrap a.room-meta-close, .wpeb-rooms-area .room-meta-close-wrap a.room-meta-close:hover {
    background-color: transparent;
    margin-bottom: 10px;
}


/* MAKING RESERVATION */

.rooms-table {
    width: 100%;
    margin: 40px 0;
    border-collapse: collapse;
    border: 1px solid white;
}
.rooms-table td {
    padding: 10px;
}
.rooms-table tr:nth-child(2n+3) {
    border-top: 1px solid white;
}
.room-capacity-col span {
    display: inline;
}
.select_room_num {
    float: right;
    width: 100%;
    max-width: 100px;
}

/* RESUME */

.wpeb-rooms-area .booking-total-holder {
    background-color: transparent;
    padding: 0;
}
.booking-total-holder .booking-total-wrap span {
    display: inline;
    color: white;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
}
.book-now-wrap {
    width: 32%;
}
.book-now-wrap input {
    border: none;
    width: 100%;
}

/* CONFIRM PAGE */

.top-row {
    display: none;
}
div.booking-info-row {
    margin: 0;
    padding: 0;
    border: none;
}
.booking-info-row hr, .resort-data-wrap hr, .resort-info-wrap hr {
    margin: 0 -30px 30px -30px;
    border: 1px solid rgba(0,0,0,0.1);
}
.guest-data div.req label, .guest-data div.guest-country-wrap label, .booking-data  .booking-date-wrap div label {
    text-align: right;
    padding-right: 15px;
    width: 210px;
}
.req input, .guest-country-wrap input {
    width: 250px;
    color: rgb(64,64,64) ;
}
.guest-data > div.req, .guest-data > div.guest-country-wrap {
    padding: 5px;
}
.guest-data {
    margin-bottom: 10px;
}
.booking-date-wrap div {
    height: 30px;
    margin: 5px;
}
.booking-date-wrap div span {
    color: white;
}
div.room-wrap {
    padding: 5px;
    margin: 0;
}
div.room-wrap:last-of-type {
    margin-bottom: 10px;
}
.room-quest-wrap label, .room-guest label {
    display: inline-block;
    text-align: right;
    width: 190px;
    float: left;
}
.room-quest-wrap input, .room-guest span {
    margin-left: 20px;
    display: inline-block;
    float: left;
    width: 250px;
}
.room-wrap div.main-row {
    padding: 0;
}
input[value="Complete Booking"] {
    margin-top: 20px;
    width: 100%;
    border: none;
    height: 60px;
    font-size: 25px;
}
div.total span span {
    display: inline;
    font-weight: 700;
}

/* MESSAGE */

.wpeb .wpeb_success {
    background-color: #ecb61d;
    border: none;
}

div.wpeb-error-input, div.wpeb-error-msg {
    background-color: #1F6090;
    border: 2px solid #ecb61d;
    margin-bottom: 30px;
}

input.wpeb-error-input {
    box-shadow: 0 0 0 2px #ecb61d;
}

/* RESERVATION PAGE */

.guest-data span, .booking-date-wrap span {
    display: inline-block;
    color: white;
}
.room-guest span {
    width: 50px;
    line-height: 20px;
    color: white;
}
.resort-location-data div {
    height: 15px;
}


/* SEARCH */

.orange .wpeb_datepicker_container {
    background-color: transparent;
    padding: 0;
    margin-top: 0;
}

/* LOGIN */

.booking-number-wrap label, .booking-pin-wrap label {
    text-align: right;
    padding-right: 10px;
    min-width: 200px;
    display: inline-block;
}
.booking-number-wrap input, .booking-pin-wrap input {
    text-align: left;
    padding-left: 10px;
    min-width: 200px;
    display: inline-block;
}
.booking-submit-wrap input{
    float: right;
    width: 100%;
    border: none;
    margin-top: 40px;
}
#retrieve-credentials-frm label {
    width: 200px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}
#retrieve-credentials-frm input {
    width: 200px;
}
#retrieve-credentials-frm .credentials-options-wrap {
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
#retrieve-credentials-frm .credentials-options-wrap label {
    width: 100%;
    text-align: left;
}
#retrieve-credentials-frm .credentials-options-wrap input {
    width: 12px;
}
input#wpeb_credentials_submit {
    width: 100%;
    border: none;
}
body.page-id-359 .sidebar.weather {
    display: none;
}
div.wpeb-sub-item {
    width: 32%;
    margin: 10px 0;
    text-align: center;
}
.room-title-wrap {
    margin-bottom: 5px;
}
span.wpeb-item-title {
    margin-top: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    color: white;
    float: left;
    margin-bottom: 30px;
}
.wpeb-search-form-item span select {
    float: right;
    margin-top: 3px;
    margin-bottom: 30px;
}
.left-column-alone div.room-wrap {
    border: none;
}

/* DATEPICKER */

.ui-datepicker-calendar thead tr span {
    color: gray;
}
.ui-datepicker-year {
    display: none;
}
div.ui-datepicker select.ui-datepicker-month {
    width: 65%;
}
.singleresort-price span {
    display: inline-block;
}
.singleresort-wrap span.singleresort-title {
    width: 210px;
    text-align: right;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.singleresort-wrap span.singleresort-price {
    float: none;
}
.singleresort-wrap span.singleresort-price span {
    font-weight: 700;
    color: white;
}