button {
    cursor: pointer;
    border: none;
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    padding: 0;
}
button.border-button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    transition: background-color 0.5s ease-out 0s;
}
button.border-button:hover {
    background-color: rgba(255,255,255,0.3);
    transition: background-color 0.5s ease-out 0s;
}
button.big {
    height: 65px;
    width: 285px;
    font-size: 25px;
}
button.regular {
    height: 40px;
    width: 190px;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
}
button.regular.border-button {
    line-height: 38px;
}
button.round-big {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
button.orange {
    transition: background-color 0.5s ease-out 0s;
}
button.orange:hover {
    background-color: #da6e0b;
    transition: background-color 0.5s ease-out 0s;
}
button.transparent {
    border: none;
    background-color: rgba(255,255,255,0.3);
    transition: background-color 0.5s ease-out 0s;
}
button.transparent:hover {
    transition: background-color 0.5s ease-out 0s;
    background-color: rgba(255,255,255,0.6);
}
a button.regular {
    width:100%;
    margin-top: 30px;
}
a button.see-all-resorts {
    width: 100%;
    margin-top: 10px;
}
a.gotoreservation {
    position: absolute;
    top: 0;
    right: 30px;
}
a.gotoreservation button {
    padding: 0 30px;
}
button.short {
    max-width: 220px;
}