.paragraph {
    position: relative;
    margin-bottom: 20px;
    padding: 30px;
}
.paragraph.with-list::before {
    content: url('../images/paragraph-arrow.svg');
    transform: scale(1);
    position: absolute;
    left: -215px;
    top: 35px;
    z-index: 0;
}
h2.with-list, h3.with-list {
    margin-top: 35px;
    position: relative;
    margin-bottom: -7px;
}
h2.with-list::before, h3.with-list::before {
    content: url('../images/paragraph-arrow.svg');
    transform: scale(1);
    position: absolute;
    left: -245px;
    top: 0;
    z-index: 0;
}

/*-----BOTTOMBAR-----*/

#bottombar {
    position: absolute;
    height: 250px;
    width: 80%;
    z-index: 75;
    bottom: 10%;
    left: 10%;
    padding: 30px 40px;
    border-radius: 3px;
    box-shadow: 0 0 50px rgba(255,255,255,0.7);
}
#bottombar input[type="text"] {
    height: 40px;
    width: 100%;
    display: inline-block;
    padding-top: 2px;
    max-width: 1000px;
}
#bottombar input:not(:first-child) {
    margin-left: 1.8%;
}
#bottombar .wpeb-search-form-item {
    width: 100%;
}
#bottombar .wpeb-search-form-item.select-dropdown {
    width: 100%;
}
#bottombar .datepick-wrap {
    width: 100%;
}
#bottombar input[type="submit"] {
    padding-top: 2px;
    width: 100%;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-left: 0;
}
@media (min-width: 1000px) {
    #bottombar .wpeb-search-form-item {
    float: left;
    width: 25%;
    }
    #bottombar .wpeb-search-form-item.select-dropdown {
    width: 50%;
    }
    #bottombar .datepick-wrap {
    float: left;
    margin-left: 10px;
    width: 47%;
    }
    #bottombar input[type="submit"] {
    padding-top: 2px;
    width: 23%;
    float: right;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
    }
    #bottombar {
    height: 100px;
    bottom: 25%;
    }
}
#bottombar .wpeb-clear-both {
    display: none;
}

/*-----KOLUMNY-----*/


@media (min-width: 1300px){
    .left-column {
        width: 350px;
        float: left;
        margin-right: -350px;
        height: 100%;
    }
    .right-column {
        width: 100%;
        padding-left: 370px;
        float: left;
        height: 100%;
    }
    .left-column-switch {
        height: 100%;
        width: 100%;
        padding-right: 370px;
    }
    .right-column-switch {
        height: 100%;
        width: 350px;
        float: right;
        
    }
    .left-column-alone {
        height: 100%;
        width: 100%;
        max-width: 650px;
    }
}

/*-----CATEGORY-FIELDS INDEX-----*/

#select-category {
    z-index: 40;
    width: 80%;
    margin: -8% 10% 5% 10%;
}
.icons {
    padding: 10% 15% 10% 15%;
    position: relative;
}
.category-field {
    width: 50%;
    text-align: inherit;
    padding-bottom: 50%;
    margin-bottom: 10%;
    margin-left: 25%;
    position: relative;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.001);
    transition: background-color 0.5s ease-out 0s;
    box-shadow: 0 0 20px white;
}
.category-field:hover {
    background-color: rgba(0,0,0,0.2);
    box-shadow: 0 0 40px white;
    transition: background-color 0.5s ease-out 0s, box-shadow 0.5s ease-out 0s;
}
.icons .category {
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
    padding: 30px;
}
.icons .category:not(:first-child) {
    margin-left: 0;
}
@media (min-width: 1000px){
    .icons .category {
    width: 18%;
    float: left;
    position: relative;
    text-align: center;
    padding: 0;
    }
    .icons .category:not(:first-child) {
    margin-left: 23%;
    }
    .icons .category-field {
    width: 100%;
    text-align: inherit;
    padding-bottom: 100%;
    margin-bottom: 25px;
    position: relative;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.001);
    transition: background-color 0.5s ease-out 0s;
    box-shadow: 0 0 20px white;
    margin-left: 0;
    }
    .icons-1::after {
        content: '';
        width: 80%;
        position: absolute;
        bottom: 0;
        left: 10%;
        background-color: rgba(255,255,255,0.5);
        height: 1px;
    }
}
.category-field a {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
}
.category-field img {
    margin-top: 25%;
    height: 50%;
    width: 50%;
}
.category-field img.seniors, .category-field img.animals {
    margin-top: 30%;
    height: 40%;
    width: 40%;
}
.icons .category h3 {
    margin-bottom: 10px;
}