/* SIDEBAR */
.sidebar ul{
    padding-left: 0;
}
.sidebar li{
    list-style: none;
    border: 2px solid white;
    height: 40px;
    margin-top: 10px;
}
.sidebar li a{
    height: 100%;
    width: 100%;
    display: block;
    text-transform: uppercase;
    line-height: 36px;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    transition: background-color 0.5s ease-out 0s;
}
.sidebar li a:hover{
    background-color: #da6e0b;
    transition: background-color 0.5s ease-out 0s;
}
/* SEARCH */
.post-short {
    height: 130px;
    position: relative;
}
.post-short p {
    line-height: 15px;
    font-size: 15px;
    margin-top: 5px;
}
div.post-meta {
    list-style: none;
    text-align: right;
    position: absolute;
    right: 140px;
    bottom: -10px;   
}
div.post-meta span {
    font-size: 19px;
    font-weight: 300;
}
div.post-meta {
    font-size: 30px;
    font-weight: 900;
}
.margined {
    margin-top: 25px;
    margin-bottom: 25px;
}
.relative {
    position: relative;
}
/* PAGE */
iframe.map {
    width: 100%;
}
.estate-contact-data span {
    text-transform: uppercase;
    font-size: 17px;
    line-height: 19px;
}
.estate-contact-data span strong {
    display: block;
    color: white;
    margin-top: 7px;
    font-weight: 500;
}
button.price-button.regular {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 25px;
    font-weight: 700;
    color: #1F6090;
    background-color: white;
}
