input, select.number-select {
    height: 40px;
    text-transform: uppercase;
    font-family: "Rajdhani", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid white;
}
input[type="submit"] {
    cursor: pointer;
    border: 1px solid white;
    color: white;
    background-color: #ecb61d;
    padding: 0;
    transition: background-color 0.5s ease-out 0s;
}
input[type="submit"]:hover {
    background-color: #da6e0b;
}
input[type="text"] {
    padding-left: 10px;
    background-color: white;
    color: gray;
}
input.orange:hover {
    background-color: #da6e0b;
    transition: background-color 0.5s ease-out 0s;
}
::-webkit-input-placeholder {
   color: rgb(184,184,184) ;
}
:-moz-placeholder {
   color: rgb(184,184,184) ;
}
input.number-select {
    width: 240px;
    height: 45px;
    color: white;
    padding-left: 10px;
    line-height: 40px;
    -webkit-appearance: none;
}
input[type="radio"], input[type="checkbox"] {
    height: 15px;
}
textarea {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    box-shadow: none;
    min-height: 210px;
    font-size: 14px;
    padding: 10px;
}

input[type="submit"].confirm {
    width: 100%;
    height: 50px;
    border: none;
}

select {
    background: white;
    color: gray;
    border: none;
    border-radius: 0;
    height: 25px;
    line-height: 25px;
    margin-top: 0;
    padding: 0 10px;
    margin-top: 5px;
}