/*-----NAWIGRACJA CAŁA-----*/

#main-menu, .sub-menu {
    z-index: 100;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    text-transform: uppercase;
    background-color: transparent;
}
#main-menu ul, ul.sub-menu {
    margin: 0;
    padding-right: 10%;
    text-align: right;
}
#main-menu li {
    margin-left:-4px;
    display: inline-block;
    padding: 0 25px;
    height: 74px;
    //text-shadow: 0 0 15px #27274f;//
}
#main-menu li:hover {
    background-color: rgba(255,255,255,0.2);
}

/*-----MAIN-MENU-----*/

div.logo {
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 100;
}

#main-menu {
    height: 75px;
    line-height: 75px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.2px;
    transition: height 0.5s ease-out 0s, line-height 0.5s ease-out 0s;
}

/*-----SUB-MENU-----*/

.sub-menu {
    display: none;
    top: 75px;
    left: 0;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 0.2px;
    transition: top 0.5s ease-out 0s, height 0.5s ease-out 0s;
}
#main-menu .sub-menu li {
    display: inline-block;
    height: 29px;
    text-shadow: none;
}
#main-menu .sub-menu a {
    color: #27274f;
    opacity: 0.7;
    font-weight: 600;
}
li.current_page_parent {
    background-color: rgba(255,255,255,0.2);
}
li.current-page-ancestor{
    background-color: rgba(255,255,255,0.2);
}
li.current_page_item {
    background-color: rgba(255,255,255,0.2);
}
.sub-menu li.current_page_item {
    background-color: rgba(255,255,255,0.2);
}
.current_page_item .sub-menu, .current_page_parent .sub-menu {
    display: block;
}

/*-----FOOTER-MENU-----*/

footer {
    position: relative;
    z-index: 50;
}
footer nav {
    width: 100%;
    padding: 0px;
    border-top: 1px solid rgba(0,0,0,0.2);
    background-color: rgb(240,240,240);
    z-index: 100;
}
footer nav ul {
    list-style: none;
    margin: 0;
    padding: 15px 10% 15px 35px;
    text-align: right;
    font-size: 15px;
}
footer nav li {
    display: inline-block;
    padding: 0 20px;
}
footer nav a {
    color: rgb(110,110,110);
    line-height: 25px;
    text-transform: uppercase;
    font-weight: 500;
    transition: color 0.5s ease-out 0s;
}
footer nav a:hover {
    color: rgb(90,90,90);
    transition: color 0.5s ease-out 0s;
}

/*-----ANIMACJA MENU-----*/

nav#main-menu.scroll {
    background-color: rgb(250,250,250);
    height: 40px;
    line-height: 40px;
    transition: height 0.5s ease-out 0s, line-height 0.5s ease-out 0s;
}
nav#main-menu.scroll li {
    height: 40px;
}
nav#main-menu.scroll ul.sub-menu {
    top: 40px;
    background-color: rgba(235,235,235,1);
    transition: top 0.5s ease-out 0s;
}
nav#main-menu.scroll ul.sub-menu li {
    height: 29px;
    transition: height 0.5s ease-out 0s;
}
nav#main-menu.scroll ul.sub-menu li:hover {
    background-color: rgba(255,255,255,0.4);
}
nav#main-menu.scroll li:hover {
    background-color: rgba(200,200,200,0.2);
}
nav#main-menu.scroll a {
    color: rgb(50,50,50);
    font-weight: 500;
}
nav#main-menu.scroll ul.sub-menu a {
    color: black;
    font-weight: 600;
}
nav#main-menu.scroll li.current_page_parent {
    background-color: rgba(200,200,200,0.2);
}

/*-----LOGO-----*/

img.dark {
    margin-top: -15px;
    display: none;
    transform:scale(0.6);
}
img.bright {
    transform: scale(0.8);
}