.sidebar {
    width: 265px;
    right: 0;
    padding: 20px;
}
@media (max-width: 1000px) {
    .sidebar {
        display: none;
    }
}
.sidebar h4 {
    margin-bottom: 20px;
}
.sidebar.ontop {
    position: absolute;
    top: 160px;
}
.sidebar.scroll {
    position: fixed;
    top: 85px;
}
.sidebar input {
    width: 100%;
    margin-bottom: 0;
}

/*-----WEATHER-----*/

.sidebar.weather {
    margin-top: 285px;
}
#wpc-weather-id-75 {
    margin: -10px -10px -15px -10px;
}
#wpc-weather.wpc-75 {
    padding: 0;
    margin: 0;
}
#wpc-weather.wpc-75.small .now .time_symbol svg.climacon {
    fill: white;
    float: left;
    margin-bottom: 0;
}
#wpc-weather.wpc-75.small div.time_temperature {
    font-size: 60px;
    position: relative;
    font-family: 'Rajdhani', sans-serif;
    float: right;
    padding-top: 42px;
    padding-right: 65px;
}
#wpc-weather.wpc-75.small div.time_temperature::after {
    content: '°C';
    font-size: 60px;
    font-family: 'Rajdhani', sans-serif;
    position: absolute;
    top: 42px;
}
#wpc-weather div.forecast {
    margin-top: 20px;
    padding-top: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    border-top: 1px solid white;
    width: 225px;
    display: inline-block;
}
@media (max-height: 800px){
    #wpc-weather div.forecast {
        display: none;
    }
    .wpc-link-owm {
        float: none;
        position: absolute;
        bottom: 10px;
        left: 20px;
    }
    .sidebar.weather {
        padding-bottom: 45px;
    }
}