#wrapper {
    height: 100%;
    background-size: cover;
    overflow: hidden;
    letter-spacing: 2px;
    overflow: hidden;
    position: relative;
}
#wrapper .slider-content {
    position: absolute;
    top: 35%;
    right: 10%;
    text-align: right;
}
#wrapper button {
    position: relative;
    top: -2px;
}
#wrapper button::after {
    content: url(../images/button-arrow.svg);
    position: absolute;
    top: 27px;
    left: 32px;
    z-index: 10;
}
#wrapper h1 {
    display: inline-block;
    font-weight: 800;
    font-style: italic;
    line-height: 30px;
    margin-right: 80px;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
}
#wrapper h1 > small {
    font-weight: 500;
    font-size: 27px;
    margin-right: -50px;
}

/*-----ANIMATION-----*/

.slide {
    height: 100%;
    width: 100%;
    background-size: cover;
    left: 0;
    position: absolute;
}
.slide#first {
    background-image: url(../images/slider5.jpg);
}
.slide#second {
    background-image: url(../images/slider4.jpg);
    left: 100%;
}
.slide#third {
    background-image: url(../images/slider3.jpg);
    left: 200%;
}
.slide:first-child {
    z-index: 10;
}