a {
    text-decoration: none;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-transform: uppercase;
}
h1 {
    font-size: 65px;
}
h2 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}
h3 {
    font-size: 26px;
    line-height: 26px;
    font-weight: 500;
    text-transform: none;
}
h4 {
    font-size: 16px;
    font-weight: 500;
}
p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    text-align: justify;
}
span {
    font-size: 15px;
    line-height: 13px;
    font-weight: 300;
    display: block;
}